/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
	File       : pirulo.grid.css
*/

/* Mobile first styles go here */

.grid-row{
    width:100%;
}

.grid-row:before,
.grid-row:after {
  display: block;
  content: " ";
  clear: both;
}

.grid-row .column{
    padding:0px 5px;
}
.grid-row .column:first-child {
    padding-left: 0px;
}
.grid-row .column:last-child {
    padding-right: 0px;
}

.grid-full{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.grid-full:before,
.grid-full:after {
  display: table;
  content: " ";
  clear: both;
}

[class^="grid-"]{
    width: 100%;
}

/*mayor a 8000*/
@media screen and (min-width: 800px) {
/* Desktop styles go here */

/*12-column*/
.grid-t1 {width:  8.3333%;}
.grid-t2 {width: 16.6666%;}
.grid-t3 {width: 25%;}
.grid-t4 {width: 33.3333%;}
.grid-t5 {width: 41.6666%;}
.grid-thalf {width: 50%;}
.grid-t7 {width: 58.3333%;}
.grid-t8 {width: 66.6666%;}
.grid-t9 {width: 75%;}
.grid-t10 {width: 83.3333%;}
.grid-t11 {width: 91.6666%;}
.grid-tfull {width: 100%;}

.container {
    margin: 0px auto;
    padding: 0px;
    max-width: 480px;
    }
}

.column {float:left;}

/*mayor a 1200px*/
@media screen and (min-width: 1200px) {
/* Desktop styles go here */

/*12-column*/
.grid-d1 {width:  8.3333%;}
.grid-d2 {width: 16.6666%;}
.grid-d3 {width: 25%;}
.grid-d4 {width: 33.3333%;}
.grid-d5 {width: 41.6666%;}
.grid-dhalf {width: 50%;}
.grid-d7 {width: 58.3333%;}
.grid-d8 {width: 66.6666%;}
.grid-d9 {width: 75%;}
.grid-d10 {width: 83.3333%;}
.grid-d11 {width: 91.6666%;}
.grid-dfull {width: 100%;}

.column {float:left;}

.container {
    margin: 0px auto;
    padding: 0px;
    max-width: 960px;
    }
}