/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
	File       : pirulo.elements.css
*/

/* Mobile first styles go here */

article{
    padding:10px;
}

/*SCROLLABLES*/
.scroll-y{overflow-y: auto;}
.scroll-x{overflow-x: auto;}
/*SCROLLABLES*/

/*BUTTONS*/
[class^="btn-"]{
    text-decoration: none;
    padding: 8px 10px;
    background: #eee;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
    font-family: SANS-SERIF;
    cursor: pointer;
    font-weight: bold;
}
[class^="btn-"]:hover{background: #ddd;}
[class^="btn-"]:active{background: #ccc;}
/*BUTTONS*/

/*ALERT*/
[class^="alert-"]{padding:20px;border-radius:5px;margin-bottom:10px;}
/*ALERT*/

/*TABLE*/
.table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(odd){background-color: #eee}

.table tr:first-of-type{background-color: #ddd}
/*TABLE*/


/*FORMS*/
.form{
    margin: auto;
    text-align: center;
    padding: 20px;
}

.form .input-group{
    display: block;
}

.form .input-group .input-label{
    display: inline-block;
    padding: 8px 10px;
    float: left;
}
.form .input-group .input-field{
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: left;
    width: 100%;
}
/*FORMS*/

/*NAV MENU*/
.nav-menu{
    width: 100%;
    margin: 0px auto;
    background: #000;
    color:#fff;
}

.nav-menu a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color:#fff;
}

.nav-fixed{
    position: fixed;
}

.nav-fixed + main{
    padding-top: 40px;
}

.nav-menu .nav-brand{
    float: left;
    font-weight: bold;
}

.nav-menu .nav-label{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    position: relative;
    display: inline-block;
}

.nav-menu .nav-label span:before, .nav-menu .nav-label span:after{
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.nav-menu .nav-label span:before{
    top: -7px;
}

.nav-menu .nav-label span:after{
    top: 7px;
}
	
.nav-menu .nav-label span{
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
}

.nav-menu .nav-chbx{
    display: none;
    width: 0px;
    height: 0px;
    float: right;
    /*position: fixed;*/
}

.nav-menu .nav-ul{
    display: none;
    width: 100%;
    list-style: none;
    float: left;
    text-align: left;
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/
}

.nav-menu .nav-ul li{
    display: block;
    float: left;
    width: 100%;
}

.nav-menu .nav-ul a:hover{
    background: #fff;
    color:#000;
}

.nav-chbx:checked ~ .nav-ul {
    display: block;
}


@media screen and (min-width: 800px) {
/* Desktop styles go here */

.nav-menu .nav-label{
    display: none;
}
.nav-menu .nav-ul{
    display: block;
    width: auto;
}

.nav-menu .nav-ul li{
    width: auto;
}

.nav-menu .nav-title{
    float:left;
}
}

.block{
    padding:20px;
}

.text-center{
    text-align: center;
}

.fixed{
    position:fixed;
    z-index: 100;
    width: 100%;
}

.min{
    padding: 0px;
    margin: 0px;
}

.automargin{
    margin:auto;
}

.bigfont{
    font-size: 2em !important;
}

.righter{
    float: right;
}

.lefter{
    float: left;
}

.modal-container{
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width:70%;
    max-width: 300px;
    left:50%;
    padding: 20px;
    border-radius: 5px;
    
    transform: translate(-50%, -400%);
    
    transition: all 0.2s ease-out;
}

.modal:before{
    content: "";
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,.8);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.modal:target .modal-container{
    transform: translate(-50%, 0);
    
}

.modal:target:before{
    display: block;
}