/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
	File       : pirulo.style.css
*/
.main{
    background: #fff;
}
.header{
    background: skyblue;
}
.header h1{
	margin:0px;
}

.content{
    background: #fff;
}

.footer{
    background: skyblue;
}

.menu{
    background: #000;
}


#content article{
    padding:10px
}

.rows{
    clear:both;
}
.rows::after{
    content:' ';
    display: block;
    clear:both;
}
.col-1{float:left;width:8.33333333;}
.col-2{float:left;width:16.66666666;}
.col-3{float:left;width:25%;}
.col-4{float:left;width:33.33333333%;}
.col-5{float:left;width:41.66666666;}
.col-6{float:left;width:50%;}
.col-7{float:left;width:58.33333333;}
.col-8{float:left;width:66.66666666%;}
.col-9{float:left;width:75%;}
.col-10{float:left;width:83.333333333;}
.col-11{float:left;width:91.666666666;}
.col-12{float:left;width:100%;}

.col-25{float:left;width:25%;}
.col-33{float:left;width:33.333%;}
.col-50{float:left;width:50%;}
.col-66{float:left;width:66.666%;}
.col-75{float:left;width:75%;}
.col-100{float:left;width:100%;}