html, body {
  height: 100%;
}

:root{
    
}

body {
    overflow:hidden;
    height: 100%;
    width: 100%;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.fa{
    padding-right:5px;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.base{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 50px;
}

.header {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-align: left;
    height:50px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}
.header .brand{
    width: 200px;
    padding: 17px;
    float:left;
    background: #444;
}
.header .welcome{
    padding: 17px;
    float:right;
    color:#222;
}

.header .icon{
    color:#444;
}

/*nav*/
.nav {
    width: 200px;
    height: 100%;
    float: left;
    position: absolute;
    background: #444;
    overflow-y: auto;
}

.nav .menuitem{
    position: relative;
    display: block;
    padding: 20px 10px;
    color: #ccc;
    border-bottom: 1px solid #333;
    text-decoration: none;
    cursor:pointer;
    transition: 0.2s;
}

.nav input{
    display: none;
}

.nav .menuitem:hover,.nav .menuitem.active{
    color: #fff;
    background: #111;
}

.nav .menuitem:hover{
    padding-left: 30px;
}

/*main*/
.main{
    width: auto;
    height: 100%;
    left: 200px;
    right: 0px;
    float: left;
    position: absolute;
    background: #eee;
    overflow-y: auto;
}

.main-title{
  font-size: 1em;
  font-weight: bold;
  background: #bbb;
  color: #000;
}

.main-content{
    padding: 20px;
}


/*card*/
.box{
    margin-top: 15px;
    background: #fff;
}
.box .box-title{
    color: #fff;
    background: #38b;
    padding: 5px;
    padding-left: 15px;
    text-shadow: 0px 1px #000;
    font-size: 1.5em;
}

.box .box-body{
    padding: 15px;
}
/*card*/


/*table*/
.table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(odd){background-color: #ccc;}
.table tr:nth-child(even){background-color: #ddd;}

.table tr:first-of-type{background-color: #444; color: #ccc;}
/*table*/



/*
** Media Queries
***********************************************************/
@media (max-width: 1000px) {
}