/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
    File       : pirulo.style.css
*/

/*BUTTONS*/
.btn-blue{background:#37b;color: #fff;}
.btn-blue:hover{background:#38c;}
.btn-blue:active{background:#39d;}

.btn-green{background:#3c5;color: #fff;}
.btn-green:hover{background:#3d2;}
.btn-green:active{background:#3e2;}

.btn-sky{background:#3bd;color: #fff;}
.btn-sky:hover{background:#3ce;}
.btn-sky:active{background:#3df;}

.btn-orange{background:#fa1;color: #fff;}
.btn-orange:hover{background:#fb2;}
.btn-orange:active{background:#fc3;}

.btn-red{background:#c32;color: #fff;}
.btn-red:hover{background:#d32;}
.btn-red:active{background:#e32;}

.btn-black{background:#000;color: #fff;}
.btn-black:hover{background:#222;}
.btn-black:active{background:#444;}
/*BUTTONS*/

/*ALERTS*/
.alert-blue{background: #39d;border-color: #37b;color: #000;}
.alert-green{background: #5d5;border-color: #5b5;color: #000;}
.alert-sky{background: #3df;border-color: #3bd;color: #000;}
.alert-orange{background: #fd6;border-color: #fa4;color: #000;} 
.alert-red{background: #e32;border-color: #c32;color: #000;}
.alert-black{background: #000;border-color: #333;color: #fff;}
/*ALERTS*/


/*CHECKBOX-RADIO*/
.switch-blue input:checked + span{background:#29568F;}

.switch-green input:checked + span{background:#34B44A;}

.switch-sky input:checked + span{background:#0E76BC;}

.switch-orange input:checked + span{background:#F7941E;}

.switch-red input:checked + span{background:#B33334;}

.switch-black input:checked + span{background:#000;}
/*CHECKBOX-RADIO*/

/*BOX*/
.box-blue > .title{background:#29568F}
.box-green > .title{background:#34B44A}
.box-sky > .title{background:#0E76BC}
.box-orange > .title{background:#F7941E}
.box-red > .title{background:#B33334}
.box-black > .title{background:#000; color:#fff;}
/*BOX*/

/*
primary
accent
shadow
text
back


*/