/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
	File       : pirulo.style.css
*/
.main{
    background: #fff;
}
.header{
    background: skyblue;
}
.header h1{
	margin:0px;
}

.content{
    background: #fff;
}

.footer{
    background: skyblue;
}

.menu{
    background: #000;
}


#content article{
    padding:10px
}