/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
	File       : pirulo.grid.css
*/

/* Mobile first styles go here */

.grid-row{
    width:100%;
}

.grid-row:before,
.grid-row:after {
  display: block;
  content: " ";
  clear: both;
}

.grid-row .column{
    padding:0px 5px;
}
.grid-row .column:first-child {
    padding-left: 0px;
}
.grid-row .column:last-child {
    padding-right: 0px;
}

.grid-full{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.grid-full:before,
.grid-full:after {
  display: table;
  content: " ";
  clear: both;
}

[class^="grid-"]{
    width: 100%;
}

@media screen and (min-width: 800px) {
/* Desktop styles go here */

/*12-column*/
.grid-1 {width:  8.3333%;}
.grid-2 {width: 16.6666%;}
.grid-3 {width: 25%;}
.grid-4 {width: 33.3333%;}
.grid-5 {width: 41.6666%;}
.grid-half {width: 50%;}
.grid-7 {width: 58.3333%;}
.grid-8 {width: 66.6666%;}
.grid-9 {width: 75%;}
.grid-10 {width: 83.3333%;}
.grid-11 {width: 91.6666%;}
.grid-all {width: 100%;}

/*column floated*/
.column {float:left;}

.container {
    margin: 0px auto;
    padding: 0px;
    max-width: 960px;
    }
}