/* 
    Created on : 10/06/2018, 11:43:35 AM
    Author     : Pirulo
    File       : pirulo.elements.css
*/

/* Mobile first styles go here */

article{
    padding:10px;
}


/*SCROLLABLES*/
.scroll-y{overflow-y: auto;}
.scroll-x{overflow-x: auto;}
/*SCROLLABLES*/

/*TABLE*/
.table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #444;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(odd){background-color: #fff;}
.table tr:nth-child(even){background-color: #eee;}

.table tr:first-of-type{background-color: #444; color: #ccc;}
/*TABLE*/


/*FORMS*/
.form{
    margin: auto;
    text-align: center;
    padding: 20px;
}

.form .input-group{
    display: block;
    position: relative;
    margin-top:10px;
}

.form .input-group .input-label{
    display: inline-block;
    padding: 8px 10px;
    float: left;
}

.form .input-group .input-field{
    display: inline-block;
    padding: 8px 0px;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-align: left;
    width: 100%;
    transition: all 0.2s ease-in-out;
    outline: transparent !important;
    background: transparent !important;
}

.form .input-group .input-field + label{
    position: absolute;
    left: 0px;
    top: 8px;
    width: 100%;
    user-select: none;
    text-align: left;
    cursor: text;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}

.form .input-group .input-field + label:after{
    content:"";
    position: absolute;
    display: block;
    height:2px;
    width: 0%;
    left:50%;
    bottom: 0;
    background: rgba(0,0,0,1);
    transition: all 0.2s ease-in-out;
}

.form .input-group .input-field:focus + label:after{
    /*width: 100%;*/
    /*left:0%;*/
}

.form .input-group .input-field:focus + label,
.form .input-group .input-field:valid + label{
    top: -6px;
    font-size: 0.8em;
}

/*FORMS*/

/*NAV MENU*/
.nav-menu{
    width: 100%;
    margin: 0px auto;
    background: #000;
    color:#fff;
}

.nav-menu a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color:#fff;
}

.nav-fixed{
    position: fixed;
}

.nav-fixed + main{
    padding-top: 40px;
}

.nav-menu .nav-brand{
    float: left;
    font-weight: bold;
}

.nav-menu .nav-label{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    position: relative;
    display: inline-block;
}

.nav-menu .nav-label span:before, .nav-menu .nav-label span:after{
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.nav-menu .nav-label span:before{
    top: -7px;
}

.nav-menu .nav-label span:after{
    top: 7px;
}
	
.nav-menu .nav-label span{
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
}

.nav-menu .nav-chbx{
    display: none;
    width: 0px;
    height: 0px;
    float: right;
    /*position: fixed;*/
}

.nav-menu .nav-ul{
    display: none;
    width: 100%;
    list-style: none;
    float: left;
    text-align: left;
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/
}

.nav-menu .nav-ul li{
    display: block;
    float: left;
    width: 100%;
}

.nav-menu .nav-ul a:hover{
    background: #fff;
    color:#000;
}

.nav-chbx:checked ~ .nav-ul {
    display: block;
}


@media screen and (min-width: 800px) {
/* Desktop styles go here */

.nav-menu .nav-label{
    display: none;
}
.nav-menu .nav-ul{
    display: block;
    width: auto;
}

.nav-menu .nav-ul li{
    width: auto;
}

.nav-menu .nav-title{
    float:left;
}
}

.miniblock{
    padding:10px;
}

.block{
    padding:20px;
}

.text-center{
    text-align: center;
}

.fixed{
    position:fixed;
    z-index: 100;
    width: 100%;
}

.min{
    padding: 0px;
    margin: 0px;
}

.automargin{
    margin:auto;
}

.bigfont{
    font-size: 2em !important;
}

.righter{
    float: right;
}

.lefter{
    float: left;
}

.jumbo-100{
    padding: 100px 20px;
}

.jumbo-200{
    padding: 200px 20px;
}

.shadow{
    box-shadow: 5px 5px 10px 0px #ccc;
}

.shadow-hover:hover{
    box-shadow: 5px 5px 10px 0px #ccc;
}

.p-0{
    padding: 0px !important;
}